#content {
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 1rem;

  h1 {
    text-align: center;
    font-size: 2.15rem;
  }

  h2 {
    font-size: 1.15rem;
  }
}

#home {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  #intro {
    text-align: center;
    margin: 1rem;

    h1 {
      font-size: 2.15rem;
      margin: 2rem;
    }
  }

 
}

#ability {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}

#ability ul li i {
  font-size: 4rem;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h1 {
    margin-top: 5rem;
  }
}

#container-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #e7e5e5;
}


.project-item {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  width: fit-content;
  padding: .75rem .5rem;
  text-align: center;
  border-radius: .5rem;
  background-color: #26262b;

  img {
    border-radius: .5rem;
    height: auto;
    width: 100%;
  }

  p a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(194, 133, 252);
    transition: transform .3s, color .3s;

    &:hover {
      color: rgb(171, 90, 247);
    }
  }
}

.item1 {
  align-self: flex-start;
}
.item2 {
  align-self: flex-end;
}
.item3 {
  align-self: flex-start;
}

#about {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  h1 {
    text-align: center;
    margin-top: 5rem;
  }
}

#contact-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin-top: 5rem;

  li a {
    color: #bdbdbd;
    font-size: 2rem;
  }
}

@media (min-width: 550px) {
  #container-projects .project-item img {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  #container-projects .project-item img {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
}