header {
  width: 100%;
  padding: .5rem 8%;
  position: sticky;
  top: 0;
  background-color: #121214;
  z-index: 1;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #bdbdbd;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item {
  color: #bdbdbd;
  text-decoration: none;
  font-weight: 600;
  transition: color .2s;
}

.nav-item:hover {
  color: rgb(171, 90, 247);
}

.nav-item:active {
  color: rgb(86, 20, 148);
  scale: calc(.95);
}

#mobile-btn {
  display: none;
}

#mobile-nav-list {
  list-style: none;
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-list {
    display: none;
  }

  #mobile-btn {
    color: #bdbdbd;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile-nav-list .nav-item {
    list-style: none;
    text-align: center;
  }
}